@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

.body {
    margin: 0 auto;
}

.header {
    background-color: #222222;
    color: #418C1E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}
  
.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 40px;
}
  
.bar {
    background-color: #418C1E;
    height: 3.5px;
    width: 100%;

}
  
.title {
    margin: 0 155px 0 auto;
    font-size: 40px;
    font-family: 'League Spartan', sans-serif;
    -webkit-text-stroke: 0.5px white;
}

@media (max-width: 480px) {
      
    .bar {
        background-color: #418C1E;
        height: 3.5px;
        width: 90%;
    
    }
      
    .title {
        margin: 0 105px 0 auto;
        font-size: 35px;
        font-family: 'League Spartan', sans-serif;
        -webkit-text-stroke: 0.5px white;
    }
}

@media (min-width: 1200px) and (max-width: 2048px) {
    .title {
        margin: 0 45.2% 0 auto;
        font-size: 50px;
        font-family: 'League Spartan', sans-serif;
        -webkit-text-stroke: 0.5px white;
    }

    .bar {
        background-color: #418C1E;
        height: 4px;
        width: 100%;
    
    }

}